{% extends 'restrito.html.twig' %}

{% block header %}
    <div id="logo"></div>
    <div id="container">
        <div id="menu">
            <div id="title">
                <img src="{{ asset('images/empresa-icon.png') }}" class="action_icon"/>
                Listagem das Empresas
            </div>
            <div id="buttonAction">
                <a href="javascript:;" onclick="abreFiltro();"><img src="{{ asset('images/search-icon.png') }}" class="action_icon" title="Abrir/Fechar Filtro"/></a>
                <a href="{{ path('empresa_index') }}"><img src="{{ asset('images/reload-icon.png') }}" class="action_icon" title="Recarregar"/></a>
                <a href="{{ path('empresa_new') }}" class="iframe"><img src="{{ asset('images/add-icon.png') }}" class="action_icon" title="Nova Empresa"/></a>
            </div>
        </div>
        <div id="conteudo">
{% endblock %}

{% block content %}
<div id="conteudo-right">
      <div id="idFiltro" style="display: none;">
          <div class="form-group mb-2" align="center">
              <table>
                  <tr>
                      <td>
                          <input type="text" name="search" id="search" size="80">
                      </td>
                      <td>
                          <a href="javascript:;" onclick="Procurar('');" class="btn btn-pesquisar" style="border-radius: 0px 5px 5px 0px">Pesquisar</a>
                          <a href="{{ path('empresa_index') }}" class="btn">Recarregar</a>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
      <div id="Listempresas">
        {{ Listempresas| raw}}
      </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/empresa/index.js') }}"></script>
{% endblock %}

