{% extends 'base.html.twig' %}

{% block body %}
    <div id="menu">
        <div id="title">
            <img src="{{ asset('images/empresa-icon.png') }}" class="action_icon"/>
            Nova Empresa
        </div>
    </div>
    <div id="conteudo">
        <div id="conteudo-fundo">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Salvar Empresa" class="btn"/>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js"></script>
    <script src="{{ asset('js/empresa/cadastro.js') }}"></script>
{% endblock %}
