<table style="width: 100%; font-size: 12px;">
    <tbody>
        <tr>
            <th style="width:100px">Id</th>
            <td>{{ empresa.id }}</td>
        </tr>
        <tr>
            <th>Titulo</th>
            <td>{{ empresa.titulo }}</td>
        </tr>
        <tr>
            <th>Categoria</th>
            <td>
              {% for categoria in empresa.categorias %}
                    {{ categoria.categoria }}
              {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Telefone</th>
            <td>{{ empresa.telefone }}</td>
        </tr>
        <tr>
            <th>Endereco</th>
            <td>{{ empresa.endereco }}</td>
        </tr>
        <tr>
            <th>CEP</th>
            <td>{{ empresa.cep }}</td>
        </tr>
        <tr>
            <th>Cidade</th>
            <td>{{ empresa.cidade }}/{{ empresa.estado }}</td>
        </tr>
        <tr>
            <th>Descricao</th>
            <td>{{ empresa.descricao }}</td>
        </tr>
    </tbody>
</table>