{% extends 'base.html.twig' %}

{% block body %}

<div id="container">
    <div id="header">
        <div id="title">Businnes Finder</div>
    </div>
    <div id="conteudo">
            {{ form_start(form) }}
              {{ form_row(form.titulo) }}
              <button type="submit" class="btn btn-float">Procurar</button>
            {{ form_end(form) }}

         <div id="resultados">
            {% for empresa in empresas %}
                <div class="result">
                  <a href="{{ path('search', { 'id': empresa.id }) }}" class="titulo">{{ empresa.titulo }}</a>
                  <div class="descricao">
                      <span>{{ empresa.endereco }} - {{ empresa.cidade }}/{{ empresa.estado }}</span><br>
                      <span>{{ empresa.descricao }}</span>
                  </div>
                </div>
            {% endfor %}
         </div>
    </div>
</div>>
{% endblock %}
