{% extends 'base.html.twig' %}

{% block body %}
<div id="logo"></div>
<div id="container">
    <div id="menu">
        <div id="title"></div>
        <div id="buttonAction">
            <a href="{{ path('login_form') }}"><img src="{{ asset('images/login-icon.png') }}" title="Ãrea Restrita" class="action_icon"></a>
        </div>
    </div>
    <div id="conteudo">
        {{ form_start(form) }}
           <div id="search-index">
                <div class="form-group mb-2" align="center">
                    {{ form_widget(form.titulo) }}
                    <button type="submit" class="btn btn-pesquisar" style="border-radius: 0px 5px 5px 0px">Pesquisar</button>
                </div>
           </div>
        {{ form_end(form) }}

        <div id="resultados">
            {% for empresa in empresas %}
                <ul class="result">
                    <fieldset>
                        <table>
                            <tr>
                                <td><img src="./images/empresa/{% if empresa.imagem %}{{ asset(empresa.imagem) }}{% else %}{{ asset('logo_indisponivel.jpg') }}{% endif %}" class="logo_index"></td>
                                <td>
                                    <div class="descricao">
                                        <a href="{{ path('search', { 'id': empresa.id }) }}" class="titulo">{{ empresa.titulo }}</a>
                                        <span>{{ empresa.endereco }} - {{ empresa.cidade }}/{{ empresa.estado }}</span><br>
                                      <span>{{ empresa.descricao }}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </ul>
            {% endfor %}
        </div>
    </div>
</div>>
{% endblock %}

{% block javascripts %}{% endblock %}
