{% extends 'base.html.twig' %}

{% block body %}
<div id="container">
    <div id="header">
        <div id="title"></div>
        <div id="buttonAction">
            <a href="{{ path('login_form') }}"><img src="{{ asset('images/login-icon.png') }}" title="Ãrea Restrita" class="action_icon"></a>
        </div>
    </div>
    <div id="conteudo">
        {{ form_start(form) }}
           <div style="text-align: center;margin:30px; position: relative;">
                <div class="form-group mb-2" align="center">
                    {{ form_widget(form.titulo) }}
                    <button type="submit" class="btn btn-pesquisar" style="border-radius: 0px 5px 5px 0px">Pesquisar</button>
                </div>
           </div>
        {{ form_end(form) }}

        <div id="resultados">
            {% for empresa in empresas %}
                <div class="result">
                    <fieldset>
                        <a href="{{ path('search', { 'id': empresa.id }) }}" class="titulo">{{ empresa.titulo }}</a>
                        <div class="descricao">
                            <span>{{ empresa.endereco }} - {{ empresa.cidade }}/{{ empresa.estado }}</span><br>
                            <span>{{ empresa.descricao }}</span>
                        </div>
                    </fieldset>
                </div>
            {% endfor %}
        </div>
    </div>
</div>>
{% endblock %}

{% block javascripts %}{% endblock %}
