{% extends 'base.html.twig' %}

{% block body %}

<div id="container">
    <div id="header">
        <div id="title">Resultado</div>
    </div>
    <div id="conteudo">
        <div id="resultados">
                <div class="result">
                    <fieldset>
                        <h4>{{ empresa.titulo }}</h4>
                        <div class="descricao">
                            <span><b>Telefone: </b>{{ empresa.telefone }}</span><br>
                            <span><b>Endereço: </b>{{ empresa.endereco }} - {{ empresa.cidade }}/{{ empresa.estado }} - CEP {{ empresa.cep }}</span><br>
                            <span><b>Descrição: </b>{{ empresa.descricao }}</span>
                        </div>
                    </fieldset>
                </div>
            <a href="{{ path('index') }}" class="btn">voltar</a>
        </div>
</div>>
{% endblock %}
